<div #anchorNav *ngIf="isHomeRoute()" class="bg-white shadow-md" >
  <nav class="max-w-6xl mx-auto flex justify-center space-x-8 rtl:space-x-reverse py-4">
    <button *ngFor="let link of links"
            (click)="scrollTo(link.id)"
            class="relative text-[var(--sned-blue-dark)] font-medium px-2 py-1 transition group">
      {{ link.label }}
      <!-- Trait animé -->
      <span class="absolute left-0 right-0 -bottom-1 h-[3px] bg-[var(--sned-orange)] scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
    </button>
  </nav>
</div>
